In [2]:
n = 7 
zival = "medvedov"

"Danes sem videl %i primerov %s" % (n, zival)

'Danes sem videl 7 primerov medvedov'

In [5]:
"Danes sem videl nekja primerov %s" % zival

'Danes sem videl nekja primerov medvedov'

In [8]:
kdaj = "Danes"
"%(kdaj)s sem videl %(x)s primerov %(cesa)s" %{
    "kdaj": kdaj, "cesa": zival, "x": n
}

'Danes sem videl 7 primerov medvedov'

In [10]:
"{} sem videl {} primerov {}".format(kdaj, n, zival)

'Danes sem videl 7 primerov medvedov'

Tole je uporabno

In [12]:
f"{kdaj} sem videl {n} primerov {zival}"

'Danes sem videl 7 primerov medvedov'

In [15]:
s = [5, 2, 8]
imena = ["Ana", "Berta", "Dani", "Cilka"]

In [17]:
f"Danes so {', '.join(imena)} videle {sum(s)} medvedov"

'Danes so Ana, Berta, Dani, Cilka videle 15 medvedov'

In [19]:
template = "{} sem videl {} primerov {}"

In [21]:
template.format(kdaj, n, zival)

'Danes sem videl 7 primerov medvedov'

In [29]:
for kdaj, n, zival in zip(("Danes", "Vceraj"), (2, 5), ("Medvedov", "Ziraf")):
    print(template.format(kdaj, n, zival))

Danes sem videl 2 primerov Medvedov
Vceraj sem videl 5 primerov Ziraf

In [69]:
teze = [45, 105, -5, 70]
visine = [150, 200, 20, 170]

In [54]:
for ime, teza, visina in zip(imena, teze, visine):
    print(f"{ime:10} {teza:5} {visina:5} {teza/ (visina / 100) ** 2:5}")

Ana           45   150  20.0
Berta        105   200 26.25
Dani           5    20 124.99999999999997
Cilka         70   170 24.221453287197235

In [38]:
for ime, teza, visina in zip(imena, teze, visine):
    print(f"{ime:10} {teza:5} {visina:5} {teza/ (visina / 100) ** 2:5g}")

Ana           45   150    20
Berta        105   200 26.25
Dani           5    20   125
Cilka         70   170 24.2215

In [52]:
bmi = teze[3]/ (visine[3] / 100) ** 2

In [55]:
f"{bmi:g}"

'24.2215'

In [57]:
for ime, teza, visina in zip(imena, teze, visine):
    print(f"{ime:<10} {teza:5} {visina:5} {teza/ (visina / 100) ** 2:5}")

Ana         45     150  20.0
Berta       105    200 26.25
Dani         5      20 124.99999999999997
Cilka       70     170 24.221453287197235

In [68]:
for ime, teza, visina in zip(imena, teze, visine):
    print(f"{ime:_<10}{teza:_>5} {visina:5} {teza/ (visina / 100) ** 2:5}")

Ana__________45   150  20.0
Berta_______105   200 26.25
Dani__________5    20 124.99999999999997
Cilka________70   170 24.221453287197235

In [74]:
for ime, teza, visina in zip(imena, teze, visine):
    print(f"{ime:<10} {teza:+05} {visina:5} {teza/ (visina / 100) ** 2:5}")

Ana        +0045   150  20.0
Berta      +0105   200 26.25
Dani       -0005    20 -124.99999999999997
Cilka      +0070   170 24.221453287197235

https://docs.python.org/3/library/string.html#formatspec

In [77]:
teza = 12345678
f"{teza:x}"

'bc614e'

In [82]:
teza = 12345678
f"{teza:032b}"

'00000000101111000110000101001110'

In [84]:
int('00000000101111000110000101001110', 2)

12345678

In [90]:
for vrstica in open("planeti.txt"):
    print(vrstica)

Merkur

Venera

Zemlja

Mars

Jupiter

Saturn

Uran

Neptun

In [92]:
for vrstica in open("planeti.txt"):
    vrstica = vrstica.strip()
    print(vrstica)

Merkur
Venera
Zemlja
Mars
Jupiter
Saturn
Uran
Neptun

In [95]:
for vrstica in map(str.strip, open("planeti.txt")):
    print(vrstica)

Merkur
Venera
Zemlja
Mars
Jupiter
Saturn
Uran
Neptun

In [97]:
file = open("planeti.txt")

In [98]:
file.readline()

'Merkur\n'

In [99]:
file.readline()

'Venera\n'

In [100]:
file.readline()

'Zemlja\n'

In [101]:
file.readline()

'Mars\n'

In [102]:
file.readlines()

['Jupiter\n', 'Saturn\n', 'Uran\n', 'Neptun\n']

In [109]:
file = open("planeti.txt")

In [108]:
vrstica = sorted(file.readlines())
vrstica

['Jupiter\n',
 'Mars\n',
 'Merkur\n',
 'Neptun\n',
 'Saturn\n',
 'Uran\n',
 'Venera\n',
 'Zemlja\n']

In [110]:
file.read(10)

'Merkur\nVen'

In [114]:
file = open("planeti.txt")
for planet1 in file:
    planet2 = file.readline().strip()
    print(f"{planet1.strip():>20} <----> {planet2}")

              Merkur <----> Venera
              Zemlja <----> Mars
             Jupiter <----> Saturn
                Uran <----> Neptun

In [122]:
f = open("bogovi.txt", "w")

In [123]:
f.write("ime\n")
f.write("ime2\n")
f.write("ime3\n")

5

In [124]:
f.close()